.idea/
SpiderObject/.idea/
SpiderObject/scrapyFile/
SpiderObject/scrapy.cfg
SpiderObject/SpiderObject/__pycache__/*
SpiderObject/SpiderObject/stcn/
SpiderObject/SpiderObject/spiders/__pycache__/*
SpiderObject/dzh.csv
