.idea/
SpiderObject/.idea/
SpiderObject/scrapyFile/
SpiderObject/scrapy.cfg
SpiderObject/SpiderObject/__pycache__/*
SpiderObject/SpiderObject/stcn/
SpiderObject/SpiderObject/spiders/__pycache__/*
SpiderObject/dzh.csv
SpiderObject/50亿以上的私募证券基金公司.csv
SpiderObject/100亿以上的私募证券基金公司.csv
SpiderObject/SpiderObject/cnstock/*
SpiderObject/SpiderObject/scrapyFile/*
SpiderObject/SpiderObject/50亿以上的私募证券基金公司.csv
SpiderObject/SpiderObject/100亿以上的私募证券基金公司.csv
SpiderObject/SpiderObject/commands/__pycache__/*
SpiderObject/SpiderObject/dzh.csv



